﻿@model BookShop.ViewModels.EditBookViewModel
@{
    ViewBag.Title = "DodajKsiążkę";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
<hr />
<h2 class="manageHeader">Edycja produktu</h2>
<div>
    @if (Model.Confirm.HasValue && Model.Confirm.Value)
    {
        <div style="text-align: center; margin: 50px;">
            Pomyślnie wprowadzono zmiany!
        </div>
    }
    @using (@Html.BeginForm("AddBook", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="error-summary-centered">
            @Html.ValidationSummary()
        </div>
        @Html.HiddenFor(o => o.Book.BookId)
        @Html.HiddenFor(o => o.Book.AddDate)
        @Html.HiddenFor(o => o.Book.NamePic)

        <div style="text-align: center;">
            <table id="albumedit-address-table">
                <tr>
                    <td>@Html.LabelFor(o => o.Book.Writer, "Autor:")</td>
                    <td>@Html.TextBoxFor(o => o.Book.Writer)</td>
                    <td>@Html.ValidationMessageFor(o => o.Book.Writer)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Book.Title, "Książka:")</td>
                    <td>@Html.TextBoxFor(o => o.Book.Title)</td>
                    <td>@Html.ValidationMessageFor(o => o.Book.Title)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Book.Description, "Opis:")</td>
                    <td>@Html.TextBoxFor(o => o.Book.Description)</td>
                    <td>@Html.ValidationMessageFor(o => o.Book.Description)</td>
                </tr>
              
                <tr>
                    <td>@Html.LabelFor(o => o.Categories, "Kategoria:")</td>
                    <td>@Html.DropDownListFor(m => m.Book.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name", Model.Categories.First().CategoryId))</td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Book.Price, "Cena:")</td>
                    <td>@Html.TextBoxFor(o => o.Book.Price)</td>
                    <td>@Html.ValidationMessageFor(o => o.Book.Price)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(o => o.Book.Bestseller, "Bestseller:")</td>
                    <td>@Html.CheckBoxFor(o => o.Book.Bestseller)</td>
                    <td></td>
                </tr>
                @if (ViewBag.EditMode == null || !ViewBag.EditMode)
                {
                    <tr>
                        <td colspan="3">
                            <div class="upload">
                                <input type="file" name="file" />
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td style="text-align: left">
                        @if (ViewBag.EditMode)
                        {
                            if (Model.Book.Hidden)
                            {
                                <a href="@Url.Action("ShowBook", "Manage", new { bookId = Model.Book.BookId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Przywróć
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("HideBook", "Manage", new { bookId = Model.Book.BookId })" style="display: block; margin-top: 15px; font-weight: bold;">
                                    Usuń
                                </a>
                            }
                        }
                    </td>

                    <td style="text-align: right;">
                        <input type="submit" value="Zapisz" class="submitLink" style="height: 40px; margin-right: 0px; margin-top: 30px; font-weight: bold;" />
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    }
</div>
