﻿@model IEnumerable<BookShop.Models.Order>
@{
    ViewBag.Title = "ListOfOrders";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div>
    <hr />
    <h2 class="manageHeader">Twoje zamówienia</h2>
    <div>
        @if (Model.Any())
        {
            <table id="orderTable">
                @foreach (var zamowienie in Model)
                {
                    <tr @if (zamowienie.OrderState == BookShop.Models.OrderState.New) { <text> class="newOrder" </text>        }>
                        <td>
                            <strong>Nr zamówienia: </strong>@zamowienie.OrderId
                        </td>
                        <td>
                            <strong>Data: </strong>
                            @zamowienie.AddDate.ToString("dd-MM-yyyy")
                        </td>
                        <td>
                            <strong>Stan: </strong><br />
                            @if (ViewBag.UserIsAdmin)
                            {
                                using (Html.BeginForm("ChangeStateOrder", "Manage"))
                                {
                                    @Html.HiddenFor(o => zamowienie.OrderId)
                                    @Html.EnumDropDownListFor(o => zamowienie.OrderState, new { @class = "StanZamowieniaZmien" })
                                }
                            }
                            else
                            {
                                @Html.DisplayFor(o => zamowienie.OrderState)
                            }
                        </td>
                        <td>
                            <strong>Dane wysyłkowe:</strong><br />
                            @zamowienie.Name @zamowienie.Surname<br />
                            @zamowienie.Street<br />
                            @zamowienie.ZipCode @zamowienie.City<br />
                        </td>
                        <td>
                            <strong>Uwagi: </strong><br />
                            @zamowienie.Comment
                        </td>
                        <td>
                            <strong>Łączny koszt:</strong> @zamowienie.TotalPrice zł
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <section>
                                <ul class="ThreeCollumnsList BookList-bottom">
                                    @foreach (var pozycjaZamowienia in zamowienie.OrderPositions)
                                    {
                                        <li>
                                            <article>
                                                <a class="details" href="@Url.Action("Details", "Book", new { id = pozycjaZamowienia.BookId })">
                                                    <img class="book" src="@Url.Content("~/img/Books/" + pozycjaZamowienia.Book.NamePic)" />
                                                    <h1>
                                                        @pozycjaZamowienia.Book.Writer - @pozycjaZamowienia.Book.Title<br />
                                                        <strong>sztuk: @pozycjaZamowienia.Count, łącznie: @(pozycjaZamowienia.Count * @pozycjaZamowienia.PurchasePrice)  zł</strong>
                                                    </h1>
                                                </a>
                                            </article>
                                        </li>
                                    }
                                </ul>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                    </tr>
                <!-- nastepne zamowienie -->
                }
            </table>
        }
        else
        {
            <div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
                Brak zamówień.
            </div>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>
    $(".StanZamowieniaZmien").on('change', function (e) {
        //e.preventDefault();

        var f = $(this.form);
        var tr = f.closest("tr");
        var action = f.attr("action");
        var serializedForm = f.serialize();

        $.post(action, serializedForm).done(function (data) {
            if (data == '@BookShop.Models.OrderState.New.ToString()') {
                tr.addClass("newOrder")
            }
            else {
                tr.removeClass("newOrder");
            }
          });
    });
    </script>
}