﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kontakt</h2>
<br/>
<div>
    Fusce vel sapien elit in malesuada semper mi.
    Id sollicitudin urna fermentum ut fusce varius nisl.
    Ac ipsum gravida vel pretium tellus tincidunt integer.
    Eu augue augue nunc elit dolor, luctus placerat.
    Scelerisque euismod, iaculis eu lacus nunc mi elit.
    Vehicula ut laoreet ac, aliquam sit amet justo.
    Nunc tempor, metus vel placerat suscipit, orci nisl.
    Iaculis eros, a tincidunt nisi odio eget lorem.
</div>