﻿@model BookShop.ViewModels.HomeViewModel
@using BookShop.Infrastructure
@{
    ViewBag.Title = "Sklep z książkami";
}
<section>
    <nav class="category">
        <ul>
            @foreach (var category in Model.Categories)
            {
                <li>
                    <a href="@Url.Action("List", "Book", new { name = category.Name.ToLower() })"
                       style="background-image: url(@Url.IconsCategoriesPatch(category.NamePic));">
                        @category.Name
                    </a>
                </li>
            }


        </ul>

        @*<a href="@Url.Action("Index", "Home")">
                <img src="~/img/Other/books.jpg"  id="baner"/>
            </a>*@
    </nav>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>

<section>
    <ul class="ThreeCollumnsBooks BookList">
        @foreach (var booknew in Model.Books)
        {
            <li>
                <article>
                    <a class="addToBasket" href="@Url.Action("AddToBasket", "Basket", new {id = booknew.BookId})">
                        <img src="../img/Other/basket.png" />
                        @*<i class="fa fa-shopping-cart fa-3x"></i>*@
                    </a>
                    <a class="bookDetails" href="@Url.Action("Details", "Book", new {id = booknew.BookId})">
                        <div class="newFlag"></div>
                        <img class="book" src="@Url.IconsBooksPatch(booknew.NamePic)" />
                        <h1>
                            @booknew.Title - @booknew.Writer
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
</section>

<section>
    <ul class="ThreeCollumnsBooks BookList">
        @foreach (var bestseller in Model.Bestsellers)
            {
            <li>
                <article>
                    <a class="addToBasket" href="@Url.Action("AddToBasket", "Basket", new {id = bestseller.BookId})">
                        <img src="../img/Other/basket.png" />
                    </a>
                    <a class="bookDetails" href="@Url.Action("Details", "Book", new {id = bestseller.BookId})">
                        <div class="bestsellerFlag"></div>
                        <img class="book" src="@Url.IconsBooksPatch(bestseller.NamePic)" />
                        <h1>
                            @bestseller.Title - @bestseller.Writer
                        </h1>
                    </a>
                </article>
            </li>
        }


    </ul>
</section>
