﻿@model IEnumerable<BookShop.Models.Book>
@using BookShop.Infrastructure



   
<ul class="ThreeCollumnsBooks BookList250">
    @foreach (var book in Model)
    {
        <li>
            <article>
                <a class="addToBasket" href="@Url.Action("AddToBasket", "Basket", new {id = book.BookId})">
                    <img src="@Url.Content("../img/Other/basket.png")"/>
                </a>

                <a class="bookDetails" href="@Url.Action("Details", "Book", new {id = book.BookId})">
                    @if (book.Bestseller)
                    {
                        <div class="bestsellerFlag"></div>
                    }
                    <img class="book" src="@Url.IconsBooksPatch(book.NamePic)"/>
                    <h1>
                        @book.Title - @book.Writer
                    </h1>
                </a>
            </article>
        </li>
    }
</ul>
    