﻿@using BookShop.Infrastructure
@model IEnumerable<BookShop.Models.Category>


<nav class="CategoriesLeft">
    <ul>
        @foreach (var categories in Model)
        {
            <li>
                <a href="@Url.Action("List", "Book", new { name = categories.Name })">
                    @categories.Name
                    </a>
                </li>
        }
    </ul>
</nav>