﻿@model BookShop.Models.Book
@using BookShop.Infrastructure
@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CategoryList">
    @Html.Action("CategoriesMenu")
    <div id="CategoryRight">
        <div id="Breadcrumb">
           
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/Other/home.png" />
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </a>
        </div>
        <section id="Book">
            <div id="BookLeft">
                <img src="@Url.IconsBooksPatch(Model.NamePic)" />
            </div>
            <div id="BookRight">
                <div id="BookInner">
                    <h1>
                        @Model.Title 
                    </h1>
                    <h2>
                        @Model.Writer
                    </h2>
                </div>
                <div id="BookPrice">
                    <div>
                        @($"{@Model.Price:0.##}")<span> PLN</span>
                    </div>
                    <a href="@Url.Action("AddToBasket", "Basket", new {id= Model.BookId})"></a>
                </div>
                <div id="Description">
                    @Model.Description
                </div>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("AddBook", "Manage", new { bookId = Model.BookId })" style="margin-top: 20px; font-weight: bold; display: block;">Edytuj</a>
                }
            </div>
        </section>
    </div>
</div>