﻿@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CategoryList">
    @Html.Action("CategoriesMenu")
    <div id="CategoryRight">
        <div id="Breadcrumb">
          
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/Other/home.png" />
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </a>
            
            <form id="search-form" method="get" data-ajax="true" data-ajax-target="#SecCatList">
                <input id="search-filter" type="search" name="searchQuery"
                       data-autocomplete-source="@Url.Action("BooksTips")"
                       placeholder="Wprowadź tekst..."/>
                <input type="submit", value=""/>
            </form>
          

        </div>
        <div id="SecCatList">
            @Html.Partial("_BooksList")
        </div>
    </div>
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")


    <script>
        $(function() {

            var setupAutoComplete = function() {
                var $input = $(this);

                var options =
                {
                    source: $input.attr("data-autocomplete-source"),
                    select: function(event, ui) {
                        $input = $(this);
                        $input.val(ui.item.label);
                        var $form = $input.parents("form:first");
                        $form.submit();
                    }
                };

                $input.autocomplete(options);
            };

            var ajaxSubmit = function() {

                var $form = $(this);

                var settings = {
                    data: $(this).serialize(),
                    url: $(this).attr("action"),
                    type: $(this).attr("method")
                };

                $.ajax(settings)
                    .done(function(result) {
                        var $targetElement = $($form.data("ajax-target"));
                        var $newContent = $(result);
                        $($targetElement).replaceWith($newContent);
                        $newContent.effect("slide");
                    });

                return false;
            };

            $("#search-filter").each(setupAutoComplete);
            $("#search-form").submit(ajaxSubmit);
        });
    </script>
}