﻿@model BookShop.ViewModels.BasketViewModel
@using BookShop.Infrastructure
@{
    ViewBag.Title = "Koszyk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CategoryList">
    @Html.Action("CategoriesMenu", "Book")
    <div id="CategoryRight">
        <div id="Breadcrumb">
           
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/Other/home.png" />
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </a>
        </div>

        <section class="SekcjaKoszyk">
            <div class="HeaderSection" style="margin-bottom: 0px;">
                <h1>Twój koszyk</h1>
            </div>

            <table id="basketTable">
                @foreach (var basketitem in Model.BasketItems)
                {
                    <tr id="koszyk-wiersz-@basketitem.Book.BookId">
                        <td>
                            <a href="@Url.Action("Details", "Book", new {id = basketitem.Book.BookId})">
                                <img src="@Url.Content("~/img/Books/" + basketitem.Book.NamePic)" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Book", new {id = basketitem.Book.BookId})">
                                @basketitem.Book.Title
                            </a>
                        </td>
                        <td><span id="koszyk-ilosc-pozycji-@basketitem.Book.BookId">@basketitem.Number</span></td>
                        <td>@string.Format("{0:0.##}", basketitem.Value) zł</td>
                        <td><a class="usunKsiazke" data-id="@basketitem.Book.BookId" href="#">Usuń</a></td>
                    </tr>
                }

                <tr id="basket-empty-message" @if (Model.BasketItems != null && Model.BasketItems.Count > 0) { <text> class="hidden" </text>  }>
                    <td>Twój koszyk jest pusty.</td>
                </tr>

            </table>

            <div id="TotalPrice" style="">
                Razem: <span id="calkowita-cena-wartosc">@string.Format("{0:0.##}", Model.TotalPrice)</span>
            </div>

            <div class="ButtonSection">
                <a class="ButtonLink" href="@Url.Action("", "Basket")">Kontynuuj Zakupy</a>
                @if (Model.TotalPrice > 0)
                {
                    <a class="ButtonLink" id="koszyk-button-zaplac" href="@Url.Action("Pay", "Basket")">Zapłać</a>
                }
            </div>

        </section>
    </div>
</div>
@section Scripts
{

    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")

    <script type="text/javascript">
        $(function () {
            $(".usunKsiazke").click(function () {

                var toDelete = $(this).attr("data-id");

                if (toDelete != '') {
                    $.post("/Basket/DeleteFromBasket", { "bookIdd": toDelete },
                        function (response) {
                            if (response.NumberOfDeletingItems == 0) {

                                $('#koszyk-wiersz-' + response.IdItemDeleting).fadeOut('slow', function () {
                                    if (response.BasketNumberOfItems == 0) {
                                        $("#basket-empty-message").removeClass("hidden");
                                    }
                                });
                            } else {
                                $('#koszyk-ilosc-pozycji-' + response.IdItemDeleting).text(response.NumberOfDeletingItems);
                            }

                            if (response.BasketNumberOfItems == 0) {
                                $('#koszyk-button-zaplac').addClass('hidden');
                                $('#CenaCalkowita').addClass('invisible');
                            }
                            $('#calkowita-cena-wartosc').text(response.BasketTotalPrice);
                            $('#koszyk-naglowek-ilosc-elementow').text(response.BasketNumberOfItems);
                        });
                    return false;
                }
            });
        });
    </script>
}
