﻿@model BookShop.Models.Order
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Uzupełnij dane zamówienia
}

@using (@Html.BeginForm("Pay", "Basket"))
{
    <table id="checkout-address-table">
        <tr>
            <td>@Html.LabelFor(x=>x.Name, "Imię")</td> 
            <td>@Html.TextBoxFor(x=>x.Name)</td> 
            <td>@Html.ValidationMessageFor(x=>x.Name)</td> 
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Surname, "Nazwisko")</td>
            <td>@Html.TextBoxFor(x => x.Surname)</td>
            <td>@Html.ValidationMessageFor(x => x.Surname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Street, "Ulica")</td>
            <td>@Html.TextBoxFor(x => x.Street)</td>
            <td>@Html.ValidationMessageFor(x => x.Street)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.City, "Miasto")</td>
            <td>@Html.TextBoxFor(x => x.City)</td>
            <td>@Html.ValidationMessageFor(x => x.City)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.ZipCode, "Kod pocztowy")</td>
            <td>@Html.TextBoxFor(x => x.ZipCode)</td>
            <td>@Html.ValidationMessageFor(x => x.ZipCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Telephone, "Telefon")</td>
            <td>@Html.TextBoxFor(x => x.Telephone)</td>
            <td>@Html.ValidationMessageFor(x => x.Telephone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Email, "E-mail")</td>
            <td>@Html.TextBoxFor(x => x.Email)</td>
            <td>@Html.ValidationMessageFor(x => x.Email)</td>
        </tr>
        <tr>
            <td><label for="comment">Uwagi</label></td>
            <td><textarea cols="40" rows="3" name="comment">@Model.Comment</textarea></td>
        </tr>
    </table>
    @Html.ValidationSummary()
    <hr style="margin-bottom: 50px;"/>
    <div class="ButtonSection">
        <a class="ButtonLink" href="@Url.Action("", "Basket")">Wróć</a>
        <input type="submit" class="ButtonLink" style="" value="Potwierdź"/>
    </div>
}