﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
   
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="BasketHeader" href="@Url.Action("", "Basket")">
                Koszyk (<span id="koszyk-ilosc">@Html.Action("DownloadNumberOfBasketItems", "Basket")</span>)
                <span></span>
            </a>
            
            @Html.Partial("_LoginPartial")

            <a id="HeadLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/img/Other/logo2.png")" class="center" />
            </a>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "About"})">O nas</a></li>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "Community"})">Społeczność</a></li>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "Opinions"})">Opinie</a></li>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "Help"})">Pomoc</a></li>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "Rules"})">Regulamin</a></li>
                    <li><a href="@Url.Action("StaticPages", "Home", new {name = "Contact"})">Kontakt</a></li>

                @*<li>@Html.ActionLink("O nas", "StaticPages", "Home", new { name = "About" }, null)</li>
                <li>@Html.ActionLink("Społeczność", "StaticPages", "Home", new { name = "Community" }, null)</li>
                <li>@Html.ActionLink("Opinie", "StaticPages", "Home", new { name = "Opinions" }, null)</li>
                <li>@Html.ActionLink("Pomoc", "StaticPages", "Home", new { name = "Help" }, null)</li>
                <li>@Html.ActionLink("Regulamin", "StaticPages", "Home", new { name = "Rules" }, null)</li>
                <li>@Html.ActionLink("Kontakt", "StaticPages", "Home", new { name = "Contact" }, null)</li>*@

            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            @DateTime.Now.Year Book Shop &copy;
        </div>
    </footer>
    <div>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
