﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="CategoryList">
    @Html.Action("CategoriesMenu", "Book")

    <div id="CategoryRight">
        <div id="Breadcrumb">
           
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/Other/home.png" />
                @*@Html.MvcSiteMap().SiteMapPath()*@
            </a>
        </div>
        <section class="BasketSection">
            <div class="HeaderSection" style="margin-bottom: 0px;">
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            </div>
            @RenderBody()
        </section>

    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
