﻿html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

input, select, textarea, button {
    font-family: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DADADA;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Main page styles */

body {
    width: 1000px;
    margin: auto;
    font-family: 'Segoe UI';
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#BasketHeader {
    width: 140px;
    height: 40px;
    background-color: #008000;
    color: white;
    float: right;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}


    #BasketHeader > #basket-header {
        width: 40px;
        height: 40px;
        background-color: #585858;
        float: right;
        background-image: url(../Content/img/basket.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#HeadLogo {
    margin-top: 40px;
    margin-bottom: 30px;
    display: block;
}


nav.category ul {
    overflow: hidden;
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    font-size: 22px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';

}

    nav.category ul li {
        margin: auto;
        float: left;
        width: 332px;
        padding-bottom: 50px;
        height: 250px;
        text-align:center;
        line-height: 540px;
    }

        nav.category ul li a {
            width: 100%;
            display: block;
            height: 100%;
            background-position-x: 0px;
            background-position-y: 50%;
        }


#CategoryList {
    overflow: hidden;
}

#CategoryRight {
    float: left;
    margin-left: 29px;
}

nav.CategoriesLeft {
    width: 200px;
    font-size: 20px;
    font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI';
    border-right: 3px solid #E5E5E5;
    float: left;
}

    nav.CategoriesLeft ul li {
        height: 50px;
        line-height: 50px;
    }

        nav.CategoriesLeft ul li:hover {
            background-color: #EBEBEB;
        }

        nav.CategoriesLeft ul li a {
           
            padding-left: 20px;
           
        }

#Book {
    width: 760px;
    float: left;
    margin-top: 20px;
}

#BookLeft {
    width: 330px;
    float: left;
    margin-right: 20px;
}

    #BookLeft img {
        height: 330px;
        float: left;
        display: block;
        width: 100%;
        height: 100%;
    }


#BookRight {
    float: left;
    width: 405px;
}

    #BookRight #BookInner {
        border: 8px solid #008000;
    }

        #BookRight #BookInner > h1 {
            margin-top: 10px;
            font-family: 'Segoe UI Light';
            font-size: 36px;
            text-transform: uppercase;
            font-weight: normal;
            color: #39312d;
            text-align: center;
        }

        #BookRight #BookInner > h2 {
            margin-top: 16px;
            margin-bottom: 15px;
            font-size: 22px;
            font-family: 'Segoe UI Light';
            text-transform: uppercase;
            font-weight: normal;
            color: #39312d;
            text-align: center;
        }

#BookPrice {
    overflow: hidden;
}

    #BookPrice > div {
        float: left;
        width: 332px;
        height: 65px;
        text-align: center;
        background-color: #008000;
        color: white;
        font-size: 54px;
        line-height: 54px;
        font-weight: normal;
    }

        #BookPrice > div > span {
            font-size: 20px;
            font-family: 'Segoe UI Light';
            margin-left: 6px;
        }

    #BookPrice > a {
        float: left;
        width: 73px;
        height: 65px;
        background-color: #008000;
        background-image: url(../img/Other/basket.png);
        background-repeat: no-repeat;
        background-position: center;
    }

#Description {
    font-size: 20px;
    line-height: 24px;
    color: #39312E;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}


#SecCatList {
    width: 768px;
    margin-top: 30px;
}

ul.BookList250 li {
    width: 250px;
    height: 333px;
}

    ul.BookList li a h1 {
        top: 40%;
    }

    ul.BookList li a:hover h1 {
        top: 41%;
    }
    

ul.BookList li {
    width: 333px;
    height: 333px;
}

    ul.BookList li a h1 {
        top: 40%;
    }

    ul.BookList li a:hover h1 {
        top: 41%;
    }
    

ul.BookList-bottom li {
    width: 333px;
    height: 333px;
    font-size: 15px;
}

    ul.BookList-bottom li a h1 {
        bottom: 0px;
    }



ul.ThreeCollumnsBooks {
    overflow: hidden;
    list-style-type: none;
    font-size: 20px;
}

    ul.ThreeCollumnsBooks li {
        float: left;
        position: relative;
        /*opacity: 0.2;*/
    }

        ul.ThreeCollumnsBooks li article {
            height: 100%;
        }

        ul.ThreeCollumnsBooks li a.addToBasket {  
            position: absolute;
            right: 0;
            bottom: 0;
        }

            ul.ThreeCollumnsBooks li a.addToBasket img { 
                z-index: 2;
                position: relative;
                vertical-align: top;
            }

        ul.ThreeCollumnsBooks li a.bookDetails {
            display: block;
            height: 100%;
        }

        ul.ThreeCollumnsBooks li a h1 {
            background-color: rgba(255, 255, 255, 0.2);
            vertical-align: central;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            font-weight: normal;
            /* More intensive album title */
            /* font-family: 'Segoe UI Semibold', 'Segoe WP', 'Segoe UI'; */
            -webkit-transition: all 1s ease;
            -o-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
        }

        ul.ThreeCollumnsBooks li a:hover h1 {
            background-color: rgba(255, 255, 255, 0.85);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        ul.ThreeCollumnsBooks li a img.book {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.8;
            -webkit-transition: opacity 0.5s ease;
            -o-transition: opacity 0.5s ease;
            -moz-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
        }

        ul.ThreeCollumnsBooks li a:hover img.book {
            opacity: 1.0;
            -webkit-transition: opacity 1s ease;
            -o-transition: opacity 1s ease;
            -moz-transition: opacity 1s ease;
            transition: opacity 1s ease;
        }

ul.ThreeCollumnsList {
    overflow: hidden;
    list-style-type: none;
    font-size: 12px;
}

    ul.ThreeCollumnsList li {
        float: left;
        position: relative;
        /*opacity: 0.2;*/
    }

        ul.ThreeCollumnsList li article {
            height: 100%;
        }


        ul.ThreeCollumnsList li a.details {
            display: block;
            height: 100%;
        }

        ul.ThreeCollumnsList li a h1 {
            background-color: rgba(255, 255, 255, 0);
            vertical-align: central;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            position: absolute;
            width: 100%;
            font-weight: normal;
            background-color: rgba(255, 255, 255, 0.85);
            
        }

        ul.ThreeCollumnsList li a:hover h1 {
            background-color: rgba(255, 255, 255, 0.85);
        }

        ul.ThreeCollumnsList li a img.book {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

      
.manageHeader {
    margin-bottom: 30px;
}

#orderTable {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

    #orderTable tr.newOrder:nth-child(3n+1) {
        background-color: #fff5bd;
        -moz-transition-duration: 3s;
        -o-transition-duration: 3s;
        -webkit-transition-duration: 3s;
        transition-duration: 3s;
    }

    #orderTable tr:nth-child(3n+1) {
        background-color: #f1f1f1;
        -moz-transition-duration: 3s;
        -o-transition-duration: 3s;
        -webkit-transition-duration: 3s;
        transition-duration: 3s;
    }

        #orderTable tr:nth-child(3n+1) td {
            padding: 10px;
        }

        #orderTable tr:nth-child(3n) td {
            height: 35px;
        }

#search-form {
    float: right;
    padding: 2px 5px 2px 2px;
    border: 1px solid #e0e0e0;
}

    #search-form input[type=search] {
        border: none;
        height: 25px;
        width: 224px;
    }

    #search-form input[type=submit] {
        width: 20px;
        border: none;
        height: 20px;
        padding: 5px;
        background-size: 100% 100%;
        background: transparent url('../img/Other/searchlogo.png') no-repeat;
     
    }

div.newFlag {
    background-image: url(../img/Other/new.jpg);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div.bestsellerFlag {
    background-image: url(../img/Other/bestseller.jpg);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.BasketSection {
    width: 748px;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
}

.BasketSection .validation-summary-errors {
    color: red;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

div.HeaderSection {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 25px;
}

    div.HeaderSection h1 {
        width: 742px;
        font-size: 18px;
        font-weight: normal;
        font-family: 'Segoe WP SemiBold';
        margin-bottom: 10px;
        margin-left: 20px;
    }

#basketTable {
    width: 100%;
    border-collapse: collapse;
}

    #basketTable tr {
        border-bottom: 1px solid #DADADA;
    }

        #basketTable tr td {
            padding-top: 25px;
            padding-bottom: 25px;
            vertical-align: middle;
        }

            #basketTable tr td img {
                width: 138px;
                height: 138px;
            }

            #basketTable tr td:nth-child(1) {
                width: 138px;
                height: 138px;
                vertical-align: middle;
            }

            #basketTable tr td:nth-child(2) {
                width: 300px;
                padding-left: 15px;
                text-align: left;
            }

            #basketTable tr td:nth-child(3) {
                width: 60px;
                text-align: center;
            }

            #basketTable tr td:nth-child(4) {
                width: 160px;
                text-align: center;
            }

            #basketTable tr td:nth-child(5) {
                width: 70px;
                text-align: center;
            }

#basket-empty-message {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ButtonSection {
    overflow: hidden;
}

    .ButtonSection :nth-child(1) {
        float: left;
    }

    .ButtonSection :nth-child(2) {
        float: right;
    }

#TotalPrice {
    width: 100%;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 60px;
    font-family: 'Segoe UI SemiBold';
    font-size: 18px;
}

.ButtonLink {
    height: 40px;
    background-color: #008000;
    color: #dfdfdf;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 38px;
    padding: 2px 15px 2px 15px;
    text-align: center;
    vertical-align: middle;
}

input.ButtonLink {
    border: 0;
    line-height: 38px;
    height: 44px;
    cursor: pointer;
}

a.ButtonLink:visited, a.ButtonLink:link, a.ButtonLink:active {
    color: #dfdfdf;
}

#checkout-address-table {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
}

    #checkout-address-table tr {
        height: 40px;
    }

        #checkout-address-table tr td {
            vertical-align: middle;
        }

            #checkout-address-table tr td:first-child {
                padding-right: 50px;
                vertical-align: middle;
            }

            #checkout-address-table tr td:nth-child(2) {
                vertical-align: middle;
            }

            #checkout-address-table tr td:nth-child(3) {
                padding-left: 10px;
                font-size: 15px;
                color: red;
            }

    #checkout-address-table input {
        border: 1px solid gray;
        width: 250px;
        height: 20px;
        padding: 5px;
    }

    #checkout-address-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

#userdata-address-table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
}

    #userdata-address-table tr {
        height: 40px;
    }

        #userdata-address-table tr td {
            vertical-align: middle;
        }

            #userdata-address-table tr td:first-child {
                padding-right: 50px;
                vertical-align: middle;
            }

            #userdata-address-table tr td:nth-child(2) {
                vertical-align: middle;
            }

            #userdata-address-table tr td:nth-child(3) {
                padding-left: 10px;
                font-size: 15px;
                color: red;
            }

    #userdata-address-table input {
        border: 1px solid gray;
        width: 250px;
        height: 20px;
        padding: 5px;
    }

    #userdata-address-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

#albumedit-address-table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
}

    #albumedit-address-table tr {
        height: 40px;
    }

        #albumedit-address-table tr td {
            vertical-align: middle;
        }

            #albumedit-address-table tr td:first-child {
                padding-right: 50px;
                vertical-align: middle;
            }

            #albumedit-address-table tr td:nth-child(2) {
                vertical-align: middle;
            }

            #albumedit-address-table tr td:nth-child(3) {
                padding-left: 10px;
                font-size: 15px;
                color: red;
            }

    #albumedit-address-table input {
        border: 1px solid gray;
        width: 250px;
        height: 20px;
        padding: 5px;
    }

    #albumedit-address-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

    #albumedit-address-table select {
        width: 100%;
        height: 30px;
    }

div.upload {
    width: 157px;
    height: 57px;
    background: url(Images/upload.png);
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

#login-error {
    color: red;
    margin-top: 25px;
    text-align: center;
}


    #login-error .validation-summary-errors li {
        list-style-type: none;
        font-size: 14px;
    }

.error-summary-centered{
    text-align: center;
}

.error-summary-centered .validation-summary-errors li {
        list-style-type: none;
        font-size: 14px;
    }

#login-table {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border-style: none;
}

    #login-table tr {
        height: 40px;
    }

        #login-table tr td {
            vertical-align: middle;
        }

        #login-table tr:not(:nth-child(3)) td:first-child {
            padding-right: 50px;
            vertical-align: middle;
        }

        #login-table tr td:nth-child(2) {
            vertical-align: middle;
        }

        #login-table tr td:nth-child(3) {
            padding-left: 10px;
            font-size: 15px;
            color: red;
        }

        #login-table tr:nth-child(3) td {
            text-align: right;
            padding: 10px;
        }

    #login-table input {
        border: 1px solid gray;
        width: 250px;
        height: 20px;
        padding: 5px;
    }

        #login-table input[type=checkbox] {
            width: 40px;
        }

    #login-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

    #login-table .login-validation-message {
        margin-bottom: 7px;
        color: red !important;
        font-size: 14px;
    }

    #login-table .text-danger {
        text-decoration: none;
    }

#login-header {
}

    #login-header div {
        line-height: 40px;
        padding-right: 15px;
        color: #39312e;
        font-size: 10pt;
        float: right;
    }

#password-table {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-style: none;
}

    #password-table tr {
        height: 40px;
    }

        #password-table tr td {
            vertical-align: middle;
        }

        #password-table tr:not(:nth-child(3)) td:first-child {
            padding-right: 50px;
            vertical-align: middle;
        }

        #password-table tr td:nth-child(2) {
            vertical-align: middle;
        }

        #password-table tr td:nth-child(3) {
            padding-left: 10px;
            font-size: 15px;
            color: red;
        }

    #password-table input {
        border: 1px solid gray;
        width: 250px;
        height: 20px;
        padding: 5px;
    }

        #password-table input[type=checkbox] {
            width: 40px;
        }

    #password-table textarea {
        width: 250px;
        border: 1px solid gray;
        padding: 5px;
        margin-top: 5px;
    }

    #password-table .login-validation-message {
        margin-bottom: 7px;
        color: red !important;
        font-size: 14px;
    }

    #password-table .text-danger {
        text-decoration: none;
    }

.manage-error {
    color: red;
    margin-top: 25px;
    text-align: center;
}

    .manage-error .validation-summary-errors li {
        list-style-type: none;
        font-size: 14px;
    }

.manage-message {
    color: darkgreen;
    margin-top: 25px;
    text-align: center;
}

 .manageLink {
            height: 42px;
            float: left;
            line-height: 40px;
            font-size: 14px;
            padding-left: 40px;
            padding-right: 10px;
            background-color: #008000;
            color: white;
        }

a.manageLink, a.manageLink:hover, a.manageLink:visited {
            color: white;
        }



footer {
    width: 100%;
    height: 42px;
    background-color: #008000;
    margin-top: 75px;
    /*overflow: hidden;*/
}

    footer nav {
        display: table;
        overflow: hidden;
        height: 100%;
        float: left;
    }

        footer nav ul {
            display: table-cell;
            vertical-align: middle;
        }

            footer nav ul li {
                font-size: 14px;
                color: white;
                float: left;
                margin-left: 55px;
            }

                footer nav ul li a, footer nav ul li a:hover, footer nav ul li a:visited, footer nav ul li a:active, footer nav ul li a:link {
                    color: white;
                }

                    footer nav ul li a:hover {
                        text-decoration: underline;
                        color: white;
                    }

                    footer nav ul li a:visited {
                        color: white;
                    }

    footer #footerLogo {
        float: right;
        margin-top: 8px;
    }

    footer #footerCopyright {
        width: 215px;
        float: right;
        background-color: #006400;
        line-height: 42px;
        height: 100%;
        font-size: 14px;
        color: white;
        padding-left: 15px;
    }

.submitLink {
    background-color: transparent;
    border: none !important;
    color: black;
    cursor: pointer;
    font-size: 16px;
    text-align: right;
}