﻿
@model BookShop.ViewModels.ConfirmOrderEmail
Content-Type: text/html; charset=utf-8

<html>
<body>

    @Html.EmbedImage("~/img/Other/logo2.png")

<p>Złożyłeś zamówienie w serwisie Book Shop.</p>
<p>Zamówione pozycje:</p>

@{
    IEnumerable<BookShop.Models.OrderPosition> orderPositions = Model.OrderPosition;

    for (int i = 0; i < orderPositions.Count(); i++)
    {
        <p>@orderPositions.ElementAt(i).Book.Title</p>
    }
}

<p>Prosimy przelać kwotę @Model.Value zł, na konto: xxx</p>
<p> Numer zamówienia: @Model.OrderNumber. </p>
<p>Wysyłka do 24h od zaksięgowania wpłaty.</p>
</body>
</html>
Dziękujemy!

Złożyłeś zamówienie w serwisie Book Shop.
Zamówione pozycje: